---
- name: Add PostgreSQL GPG key
  apt_key:
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
    state: present

- name: Add PostgreSQL repository
  apt_repository:
    repo: "deb http://apt.postgresql.org/pub/repos/apt {{ ansible_distribution_release }}-pgdg main"
    state: present

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install PostgreSQL and dependencies
  apt:
    name:
      - postgresql-common
      - postgresql
      - postgresql-contrib
      - python3-psycopg2
    state: present

- name: Stop PostgreSQL service
  systemd:
    name: postgresql
    state: stopped
    enabled: no

- name: Verify PostgreSQL installation
  shell: "psql --version"
  register: psql_version

- name: Display PostgreSQL version
  debug:
    msg: "{{ psql_version.stdout }}"
